@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway/raleway-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 20px;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-index {
  flex-grow: 1;
  /*background: linear-gradient(to bottom,
      #FFE17F 150px, #FFFFFF 150px 100%);*/
}

.main-inner {
  flex-grow: 1;
  margin-top: 35px;
}

/*Основные заголовки*/
.title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  text-align: left;
}

/*Основной текст  */
.text {
  margin: 0;
}

/*page-header*/

.page-header {
  /*background: linear-gradient(to bottom,
      #FFFFFF 20px, #FFE17F 20px 100%);*/
}

.page-header-container {
  position: relative;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  min-height: 320px;
  color: #000000;
  /*z-index: 1;*/
  background: linear-gradient(to bottom,
      #FFFFFF 20px, #FFE17F 20px 100%)
}

.logo {
  display: block;
  width: 145px;
  height: 36px;
  margin-bottom: 30px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/*Пользовательское меню*/
.user-menu {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 1040px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form {
  position: relative;
  margin-right: 26px;
  width: 517px;
}

input[type=search] {
  position: relative;
  padding: 10px 0;
  padding-left: 48px;
  width: 357px;
  box-sizing: border-box;
  text-align: left;
  background: transparent;
  border: 2px solid #000000;
  background-image: url("../images/icon-search.svg");
  background-size: 16px 16px;
  background-position: center left 16px;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
}

input[type="search" i] {
  font-size: 16px;

}

.search ::placeholder {
  color: #000000;
  font-size: 18x;
  line-height: 20px;
  opacity: 0.3;
}

/*
.form::after {
  content: "";
  position: absolute;
  width: 361px;
  height: 44px;
  top: -2px;
  left: -2px;
  outline: 2px solid #af4fff;
  display: none;
}


.form:focus .form::after {
  display: block;
}*/

input[type=search]:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;

}

.search::placeholder:active {
  opacity: 1;
}


input[type=search]:disabled {
  opacity: 0.3;
}


.page-header-button {
  position: relative;
  margin-left: -6px;
  padding: 10px 56px;
  width: 160px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  outline: none;
}

.page-header-button:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 162px;
  height: 44px;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  display: none;
}

.page-header-button:hover {
  color: #FFFFFF;
  background-color: #000000;
}

.page-header-button:active span {
  opacity: 0.3;
}

.page-header-button:active {
  background-color: #000000;
}

.page-header-button:focus::before {
  display: block;
}

.page-header-button:focus {
  color: #000000;
  background-color: transparent;
}

.page-header-button:disabled {
  color: #000000;
  opacity: 0.3;
}


.user-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 497px;
  list-style-type: none;
}

.user-item {
  position: relative;
  padding: 5px 0;
  box-sizing: border-box;
}

.user-item:first-child {
  width: 174px;
}

.user-item:nth-child(2) {
  margin-right: 26px;
}

.user-item:last-child {
  margin-left: 10px;
}

.option {
  position: relative;
  min-height: 30px;
  padding: 5px 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: right;
  color: #000000;
  text-decoration: none;
}

.option:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.option:hover {
  opacity: 60%;
}

.option:active {
  opacity: 30%;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  fill: #000000;
}

.option .icon {
  right: auto;
  margin: auto 0;
}

.come-in {
  padding-left: 25px;
}

.come-out {
  opacity: 0.3;
}

.compare {
  padding-left: 22px;
}

.basket {
  padding-left: 43px;
}

.icon-basket {
  left: 18px;
}


/*Навигационное меню*/
.navigation-menu {
  margin: 0 auto;
  width: 1040px;
  min-height: 50px;
}

.navigation-list {
  margin: 0 auto;
  padding: 0;
  width: 1040px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
}

.menu {
  margin-right: auto;
  position: relative;
}

.navigation-item:nth-child(3) {
  margin-left: 45px;
}

.navigation-item:last-child {
  margin-left: 45px;
}

.navigation-link {
  padding: 15px 0 14px 0;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 21.13px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.catalog-toggler {
  padding: 15px 0 14px 0;
  padding-right: 57px;
  display: block;
  width: 293px;
  box-sizing: border-box;
 /* z-index: 1;*/
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 21.13px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.catalog-toggler::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #000000;
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
  display: block;
}

.catalog-toggler::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #000000;
  background-image: url("../images/minus.svg");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
  display: none;
}

.subcatalog {
  position: absolute;
  margin: 0 auto;
  padding: 0 60px 0 60px;
  top: 50px;
  left: -60px;
  z-index: 5;
  width: 1160px;
  min-height: 160px;
  box-sizing: border-box;
  list-style-type: none;
  background-color: tomato;
  display: none;
}

.subcatalog-list {
  margin: 0;
  margin-right: 30px;
  padding: 0;
  width: 222px;
  list-style-type: none;
}

.subcatalog-item {
  margin-bottom: 18px;
  padding: 0;
}

.subcatalog-link {
  display: block;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.menu:focus-within .subcatalog {
  display: flex;
}

.menu:focus-within .catalog-toggler::after {
  display: none;
}

.menu:focus-within .catalog-toggler::before {
  display: block;
}

.menu:hover .subcatalog {
  display: flex;
}

.menu:hover .catalog-toggler::after {
  display: none;
}

.menu:hover .catalog-toggler::before {
  display: block;
}

.subcatalog-link:hover {
  opacity: 0.6;
}

.subcatalog-link:active {
  opacity: 0.3;
}

.subcatalog-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.subcatalog-link:focus .subcatalog {
  display: flex;
}

.menu:focus .catalog-toggler::after {
  opacity: 0.3;
}

.catalog-toggler:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}
/*
.menu:focus-within .subcatalog {
  display: block;
}
*/



.catalog-toggler:hover .catalog-toggler::after,
.catalog-toggler:hover .catalog-toggler::before,
.catalog-toggler:active .catalog-toggler::after,
.catalog-toggler:active .catalog-toggler::before {
  opacity: 1;
}

.menu:hover .subcatalog {
  display: flex;
}

.menu:active .subcatalog {
  display: flex;
}



.catalog-toggler:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}






/*Поповер*/
.popover {
  position: absolute;
  padding: 20px;
  top: 40px;
  right: -77px;
  min-height: 183px;
  z-index: 4;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #000000;
  display: none;
}

.popover-open {
  display: none;
}

.popover-cart {
  width: 320px;
}

.popover-cart:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 147px;
  margin-right: auto;
  width: 14px;
  height: 6px;
  bottom: 100%;
  background-image: url("../images/modal-delta.svg");
}

.popover-content {
  height: 100%;
}

.cart-items-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart-item {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-link {
  position: relative;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #ffffff;
  text-decoration: none;
}

.cart-item-image {
  margin-right: 23px;
  display: block;
}

.cart-item + .cart-item {
  border-top: 1px solid rgba(0, 0, 0 0.1);
}

.cart-item-button:hover {
  opacity: 0.6;
}

.cart-item-button:active {
  opacity: 0.3;
}

.cart-item-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cart-link:hover {
  opacity: 0.6;
}

.cart-link:active {
  opacity: 0.3;
}

.cart-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.cart-item-wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 44px;
  background-color: #1A1A1A;
}

.value {
  text-transform: uppercase;
}

.popover-close-button {
  display: block;
  padding: 14.5px 0;
  width: 280px;
  text-align: center;
  box-sizing: border-box;
  border: none;
  color: #000000;
  background: #FFFFFF;
}

.popover-close-button:hover {
  background: #FFE17F;
}

.popover-close-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.popover-close-button:active {
  background: #FFE17F;
}

.popover-close-button:active span {
  opacity: 30%;
}



/*promo-products_БЛОК со слайдером*/

.promo-products {
  margin-bottom: 70px;
}

.promo-product {
  position: relative;
  margin-top: -150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.promo-product-slider {
  width: 560px;
  height: 560px;
}

.slider-image {
  display: block;
  width: 560px;
  height: 560px;
}

.promo-product-arrow {
  position: absolute;
  top: 241px;
  left: 0;
  width: 560px;
  padding-left: 30px;
  transform: translateY(-50%);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  background-color: transparent;
}

.arrow {
  padding: 0;
  width: 20px;
  height: 60px;
  background: transparent;
  border: none;
  cursor: pointer;

  /* background-image: url("..images/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;*/
}

.arrow:hover {
  opacity: 60%;
}

.arrow:active {
  opacity: 30%;
}

.arrow:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.promo-product-content {
  position: relative;
  margin: auto 0 38px 0;
  z-index: 0;
  width: 560px;
}

.promo-product-number {
  position: absolute;
  top: -50px;
  right: 49px;
  z-index: -1;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  text-align: right;
  color: #FFFFFF;
}

.promo-product-content .title {
  display: block;
  margin-bottom: 29px;
}

.text-promo-product {
  margin-bottom: 50px;
}

.promo-product-content .button {
  margin-bottom: 50px;
  padding: 10px 5px;
  box-sizing: border-box;
  width: 220px;
  height: 40px;
  background: linear-gradient(to top,
      #FFFFFF 40%, #FFE17F 40% 60%, #FFFFFF 60%);
}

/*Стилизация состояний*/
.promo-product-content .button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.promo-product-content .button:hover {
  background: #FFE17F;
}

.promo-product-content .button:active {
  background: #FFCC33;
}

.promo-product-feature-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.promo-product-feature-item:not(:last-child) {
  margin-right: 20px;
}

.text-value {
  display: block;
  min-width: 147px;
  margin-bottom: 12px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.text-property {
  display: block;
  min-width: 147px;
  font-size: 16px;
}

.promo-product-indicators {
  position: absolute;
  left: 542px;
  bottom: 0;
  z-index: 6;
}

.indicators-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.indicators-item {
  padding: 0;
}

.indicators-item:not(:last-child) {
  margin-right: 20px;
}

.indicators-button {
  position: relative;
  padding: 0;
  margin: 0;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #000000;
}

.indicators-button::after {
  display: none;
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  outline: 2px solid #af4fff;
}

.indicators-button-current {
  background-color: #000000;
}

.indicators-button:focus::after {
  display: block;
}

.indicators-button:hover {
  opacity: 60%;
}

.indicators-button:active {
  opacity: 30%;
}


/*products-categories БЛОК Категория товаров*/

.products-categories {
  margin-bottom: 70px;
}

.products-categories-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
}

.products-categories-item {

  margin-right: 40px;
  width: 160px;
  min-height: 253px;
}

.products-categories-item:last-child {
  margin-right: 0;
}

.products-categories-link {
  display: block;
  position: relative;
  color: #000000;
  text-decoration: none;
}

.products-categories-title {
  margin: 0;
  order: -1;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.products-categories-image {
  margin-bottom: 32px;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}

.products-categories-item:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;

}

.products-categories-link:after {
  content: "";
  position: absolute;
  width: 164px;
  height: 257px;
  top: -2px;
  left: -2px;
  display: none;
  outline: 2px solid #af4fff;
}

.products-categories-link:focus .products-categories-link:after {
  display: block;
}

.products-categories-item:hover .products-categories-image {
  background: linear-gradient(to bottom,
      #FFC700 160px, #FFFFFF 160px 100%);
}

.products-categories-item:active {
  opacity: 30%;
}


/*services БЛОК Сервисы*/

.services {
  min-height: 391px;
  margin-bottom: 70px;
  background: linear-gradient(to bottom,
      #FFFFFF 26%, #F0F0F0 26% 100%);
}

.container-services {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  outline-offset: -5px;
}

.button-wrapper {
  margin-right: 116px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-right: 7px solid black;
}

.services-button {
  display: block;
  margin-bottom: 35px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  width: 160px;
  height: 40px;
  color: #000000;
  border: none;
  background: linear-gradient(to top,
      transparent 40%, #FFE17F 40% 60%, transparent 60% 100%);
}




.services-button-current {
  padding: 9px 0 11px 17px;
  box-sizing: border-box;
  width: 280px;
  height: 40px;
  text-align: start;
  border: none;
  color: #FFE17F;
  background: #000000;
}

.services-button-current:hover {
  padding-left: 20px;
}

.services-button-current:active {
  padding-left: 20px;
}

.services-button-current:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.services-button-next:hover {
  background-color: #FFE17F;
}

.services-button-next:active {
  background-color: #FFCC33;
}

.services-button-next:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}



.services-next {
  display: none;
}

.services-button:last-child {
  margin-bottom: 65px;
}

.services-button:first-child {
  margin-top: 65px;
}

.services-list {
  margin: 0;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 729px;
  max-height: 195px;
  list-style-type: none;
}

.services-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-item .title {
  margin-bottom: 34px;
}

.services-text {
  margin: auto 0;
  width: 475px;
  height: 195;
}

.services-image {
  width: 171px;
  height: 195px;
  align-self: center;
  margin-left: auto;
}

.services-image-1 {
  margin-right: 35px;
}

.services-image-2 {
  width: 171px;
  height: 195px;
}

.services-image-3 {
  width: 156px;
  height: 188px;
}


/*advantage БЛОК Доставим редкий товар под заказ*/

.advantage {
  position: relative;
  margin-bottom: 70px;
  background-color: #F0F0F0;
}

.advantage-link {
  margin: 0;
  padding: 0;
  display: block;
  height: 100%;
  text-decoration: none;

}

.title-advantage {
  position: relative;
  margin: 0;
  padding: 40px 125px;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.title-advantage::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #FFE17F;
  background-image: url("../images/avto.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.title-advantage::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 30px;
  right: 42.5px;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
  background-image: url("../images/icon-information.svg");
  background-position: center;
  background-repeat: no-repeat;
}




/*

.advantage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 70px;
  min-height: 100px;
  background-color: #F0F0F0;
}

.advantage-link {
  text-decoration: none;
}

.title-advantage {
  font-size: 20px;
  line-height: 23.48px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.advantage-image {
  width: 125px;
  height: 100px;
  padding: 35px 39px;
  box-sizing: border-box;
  background-color: #FFE17F;
}

.advantage-wrapper {
  margin-right: 42px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(220, 220, 220, 0.5);
}

.icon-information {
  margin-right: 42px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  /*background-color: rgba(220, 220, 220, 0.5);
  background-image: url("../images/icon-information.svg");
  background-repeat: no-repeat;
  background-position: center center;}*/


.advantage-link::before {
  content: "";
  position: absolute;
  width: 1164px;
  height: 104px;
  top: -2px;
  left: -2px;
  outline: 2px solid #af4fff;
  display: none;
}


.advantage-link:hover .title-advantage::before {
  background-color: #FFC700;
}

.advantage-link:hover .title-advantage::after {
  color: #000000;
  stroke: #000000;
  opacity: 1;
}

.advantage:focus-within {
  outline: 2px solid #af4fff;
}

.advantage-link:focus .advantage-link::before {
  display: block;
}

.advantage:active {
  opacity: 30%;
}




/*about-us-contacts    БЛОК О нас. Контакты*/

.container-contacts {
  margin-bottom: 70px;
  padding-top: 47px;
  display: flex;
  justify-content: space-between;
}

.about-us {
  position: relative;
  width: 520px;
}

.title-contacts:before {
  content: "";
  position: absolute;
  top: -47px;
  left: 0;
  z-index: 1;
  width: 84px;
  height: 7px;
  color: #000000;
  background-color: #000000;
}

.title-contacts {
  position: relative;
  margin-bottom: 48px;
}

.text-contacts {
  margin-bottom: 30px;
}

.transport-list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  list-style-type: none;
}

.text-transport,
.product-filter-group-title,
.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.text-transport {
  position: relative;
  margin-bottom: 19px;
  padding-left: 35.5px;
}

.text-transport:last-child {
  margin-bottom: 0;
}

.text-transport::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 3.5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFC700;
}

.about-us-button {
  padding: 10px 6.14px;
  box-sizing: border-box;
  width: 270px;
  height: 40px;
  background: linear-gradient(to top,
      #FFFFFF 40%, #FFE17F 40% 60%, #FFFFFF 60%);
}

.about-us-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.about-us-button:hover {
  background: #FFE17F;
}

.about-us-button:active {
  background: #FFCC33;
}

.contacts {
  width: 532px;
}

.text-subtitle {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
}

.contacts-address {
  margin-bottom: 30px;
}

.text-address {
  margin-bottom: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.text-phone {
  margin-bottom: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  text-decoration: underline;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.contacts-subtitle {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-time {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;
}

.text-time {
  margin-bottom: 0;
}

.contacts .button {
  padding: 10px 5.89px;
  box-sizing: border-box;
  width: 259px;
  height: 40px;
  background: linear-gradient(to top,
      #FFFFFF 40%, #FFE17F 40% 60%, #FFFFFF 60%);
}

.contacts .button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.contacts .button:hover {
  background: #FFE17F;
}

.contacts .button:active {
  background: #FFCC33;
}


/*subsribe    БЛОК Подпишитесь на рассылку*/

.subscribe {
  background-color: #F0F0F0;
}

.container-subscribe {
  padding-top: 64px;

}

.subscribe-text {
  margin-bottom: 144px;
  margin-left: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

. title-subscribe {
  width: 348px;
  box-sizing: content-box;
}

.text-subscribe {
  width: 553px;
}

.subscribe-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 57px;
}

.subscribe-form {
  display: flex;
  justify-content: flex-start;
  outline: none;
}

.email-email {
  position: relative;
  padding: 11px 0 14px 16px;
  width: 557px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 1;
  background-color: #F0F0F0;
  border: 0;
  outline: none;
  border-bottom: 3px solid #C4C4C4;
}

.subscribe-form ::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.email-email:invalid {
  color: #444444;
  opacity: 1;
  border-bottom: 3px solid #FF3D3D;
  background-color: #F0F0F0;
}

.email-email:focus {
  background-color: #DCDCDC;
  outline: none;
  border-bottom: 3px solid #C4C4C4;
}

.email-email:active {
  border-bottom: 3px solid #C4C4C4;
  color: red;
  background-color: #F0F0F0;
}

.subscribe-button {
  padding: 18px 39px;
  box-sizing: border-box;
  width: 253px;
  border: 3px solid #C4C4C4;
  background-color: transparent;
}

.subscribe-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.subscribe-button:hover {
  border: 3px solid #000000;
  color: #FFFFFF;
  background-color: #000000;
}

.subscribe-button:active span {
  opacity: 30%;
}

.subscribe-button:active {
  border: 3px solid #000000;
  background-color: #000000;

}

.text-email {
  position: relative;
  padding-left: 32px;
}

.text-email:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../images/tick-free.svg");
  background-repeat: no-repeat;
}

/*page-footer*/
.page-footer {
  padding-top: 62px;
  min-height: 321px;
  background-color: #444444;
}

.logo-footer {
  margin-bottom: 35px;
  display: block;
  width: 145px;
  height: 36px;
}

.logo-footer:hover {
  opacity: 0.6;
}

.logo-footer:active {
  opacity: 0.3;
}

.logo-footer:focus {
  opacity: 1;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 123px;
}

.footer-address {
  position: relative;
  display: block;
  margin-bottom: 64px;
}

.text-address-footer {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.footer-address::before {
  content: "";
  position: absolute;
  display: block;
  top: 104px;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-center {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 444px;
  /*min-height: 123px;*/
}

.footer-navigation-list {
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.footer-navigation-item {
  margin-right: 35px;
}

.footer-navigation-item:last-child {
  margin-right: 0;
}

.button-footer {
  color: #FFFFFF;
}

.button-footer:hover {
  color: #FFC700;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #FFC700;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.button-footer:active {
  color: #FFC700;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #FFC700;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  opacity: 0.5;
}

.button-footer:focus {
  opacity: 1;
  color: #FFFFFF;
  text-decoration-line: none;
  outline: 2px solid #af4fff;
}



.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-button {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.footer-social-button:hover {
  background-color: #FFC700;
}

.footer-social-button:active .social-icon {
  opacity: 30%;
  background-color: #FFC700;
}

.footer-social-button:focus {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}


.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 240px;
  min-height: 123px;
}

.footer-phone {
  display: block;
  margin-bottom: 64px;
}

.text-phone-footer {
  color: #FFFFFF;
  text-decoration-line: underline;
  text-decoration-color: #FFFFFF;
}

.text-phone-footer:hover {
  color: #ffcf00;
  text-decoration-line: underline;
  text-decoration-color: #ffcf00;
}

.text-phone-footer:active {
  color: #ffcf00;
  text-decoration-line: underline;
  text-decoration-color: #ffcf00;
  opacity: 0.5;
}

.text-phone-footer:focus {
  color: #FFFFFF;
  text-decoration-line: underline;
  text-decoration-color: #FFFFFF;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.htmlacademy-link {
  color: #FFC700;
}

.htmlacademy-link:hover {
  color: #FFFFFF;
}

.htmlacademy-link:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.htmlacademy-link:focus {
  opacity: 1;
  color: #FFC700;
  outline: 1px solid #af4fff;
  outline-offset: 2px;
}


/*Модальное окно*/

.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 10;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 72px 80px;
  box-sizing: border-box;
  border: 10px solid #000000;
  background: #FFFFFF;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-advantage {
  width: 920px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 84px;
  right: 80px;
  width: 26px;
  height: 24px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal-title {
  margin: 0;
  margin-bottom: 42px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-style: normal;
  font-weight: 800;
  color: #000000;
}

.advantage-form-wrapper {
  margin-bottom: 42px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.field-group {
  margin: 0;
}

.advantage-form-field {
  padding: 20px 50px 20px 20px;
  width: 360px;
  box-sizing: border-box;
  background-color: #F0F0F0;
  border: none;
  outline: none;
}

.field-name:focus {
  outline: 2px solid #af4fff;
  offset: -2px;
}

.field-product {
  padding: 20px;
  width: 540px;
  box-sizing: border-box;
}

.field-product:focus {
  outline: 2px solid #af4fff;
  offset: -2px;
}

.field-amount {
  display: inline-block;
  width: 60px;
  padding: 20px 0;
  box-sizing: border-box;
  text-align: center;
}

.field-amount:focus {
  outline: 2px solid #af4fff;
  offset: -2px;
}

.field-group:first-child {
  margin-right: 40px;
}

.label-field {
  display: block;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.field-group ::placeholder {
  color: #000000;
  opacity: 0.3;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.field-group-email ::placeholder {
  color: #000000;
  opacity: 1;
}

.field-email + span {
  display: block;
  font-size: 14px;
  color: #FF3D3D;
}

.field-email {
  outline: 2px solid #FF3D3D;
  outline-offset: -2px;
}

.field-group-name {
  position: relative;
}

.field-group-name::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 12px;
  bottom: 24px;
  right: 21px;
  background-image: url("../images/person.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.field-group-email {
  position: relative;
}

.field-group-email::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 12px;
  top: 56px;
  right: 20px;
  background-image: url("../images/email.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.label-field-amount {
  position: relative;
  display: block;
  margin-bottom: 3px;
  padding-right: 8px;
  max-width: 180px;
  word-break: break-all;
}

.field-group-amount {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: tomato;
}

.field-group-amount ::placeholder {
  color: #000000;
  opacity: 1;
}

.eee {
  display: flex;
}
/*
.button-amount {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: 0;
  outline: none;
  background-color: transparent;
}*/

.button-amount {
  display: block;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: 0;
  outline: none;
  background-color: #F0F0F0;
  background-image: url("..images/minus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-amount:focus {
  outline: 2px solid #af4fff;
  offset: -2px;
}

.button-amount-minus {
  background-image: url("..images/minus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-amount-plus {
  background-image: url("..images/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.field-email:invalid {
  outline: 2px solid #FF3D3D;
  offset: -2px;
}

.field-email:invalid + span {
  color: #FF3D3D;
}

.field-email:disabled {
  opacity: 0.3;
}

.field-email:active {
  background-color: #F0F0F0;
  color: #000000;
  opacity: 1;
}

.field-email:active + span {
  color: #000000;
}



.field-email:hover {
  background-color: #DCDCDC;
  outline: none;
  opacity: 0.3;
}

.field-email:hover + span {
  color: #000000;
}

.field-email:focus {
  background-color: #F0F0F0;
  outline: 2px solid #af4fff;
  offset: -2px;
}

.field-email:focus + span {
  color: #000000;
}









/*
.field-group-amount input[type="button"] {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
*/


/*Количество*/

.label-field-icon {
  position: relative;
  margin-bottom: 11px;
  display: flex;
  align-items: flex-end;

  max-width: 180px;
  background-color: #af4fff;
}


.tooltip {
  position: relative;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-color: #FFE17F;
  cursor: pointer;
}

.tooltip-text {
  position: absolute;
  left: -140px;
  top: 36px;
  padding: 19px 17px 19px 19px;
  width: 200px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  word-break: break-word;
  text-transform: none;
  color: #FFFFFF;
  background-color: #000000;
  box-shadow: 0 10px 0x rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: none;
}

.tooltip-text:after {
  content: "";
  position: absolute;
  margin-left: 146px;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 14px;
  height: 6px;
  background-image: url("../images/modal-delta.svg");
  bottom: 100%;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}





.advantage-form-button {
  padding: 10px 4.55px;
  width: 200px;
  box-sizing: border-box;
  background: linear-gradient(to top,
      transparent 40%, #FFE17F 40% 60%, transparent 60%);
}

.advantage-form-button:hover {
  background: #FFE17F;
}

.advantage-form-button:active {
  background: #FFC700;
}

.advantage-form-button:focus {
  background: linear-gradient(to top,
      transparent 40%, #FFE17F 40% 60%, transparent 60%);
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}






/*main-inner СТРАНИЦА КАТАЛОГА*/

.inner-header {
  padding: 0 21px 0 60px;
  margin-bottom: 29px;
  box-sizing: border-box;

}

.inner-header .title {
  margin-bottom: 10px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
  margin-right: 36px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  top: 45%;
  right: -20px;
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-item:last-child:after {
  content: none;
}

.text-breadcrumbs {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

.text-breadcrumbs:hover {
  opacity: 0.6;
}

.text-breadcrumbs:active {
  opacity: 0.3;
}

.text-breadcrumbs:focus {
  opacity: 1;
  color: #000000;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}





/*Общий блок: фильтр_сортировка_каталог*/

.product-filter {
  background-color: #F0F0F0;
}

.catalog {

  display: flex;
  justify-content: space-between;
}

.filter {
  margin: 0 auto;
  padding-top: 25px;
  width: 200px;


}

.filter-title {
  margin: 0;
  padding: 0;
  margin-bottom: 72px;
  font-size: 16px;
  line-height: 18.78px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: left;
}

.product-filter-form {
  margin: 0;
  padding: 0;
}

.product-filter-group {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 47px;
}

.product-filter-group-title::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;
  width: 200px;
  height: 2px;
  background-color: #000000;
}

/* Range */

.product-filter-group-title {
  margin-bottom: 27px;
  text-align: left;
}

.range-scale {
  position: relative;
  width: 200px;
  height: 2px;
  margin-bottom: 11px;
  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  margin-bottom: 3px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  opacity: 50%;
}

.range-toggle:active {
  background: #000000;
}

.range-toggle:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.toggle-min {
  top: -8px;
  left: -9px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.range-wrapper-inputs {
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.catalog-filter-label {
  display: flex;
  justify-content: center;
  margin-right: 67px;
  margin-left: -13px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0 0.3);
}

.range-input {
  padding: 0 3px;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/*COLOR*/
.title-color {
  margin-bottom: 24px;


}

.product-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-filter-item:not(:last-child) {
  padding: 0;
  margin-bottom: 17px;
}

/* Control */

.title-bluetooth {
  margin-bottom: 18px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid #CCCCCC;
}

.control-mark:after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 22px;
  height: 22px;
  outline: 2px solid #af4fff;
  display: none;
}

/*
.control-mark:checked {
  background-image: url("../images/tick-filter.svg");
  background-position: center;
  background-repeat: no-repeat;
}
*/
.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control:disabled {
  opacity: 0.1;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/tick-filter.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.control-input[type="checkbox"]:checked:focus + .control-mark:after {
  display: block;
}

.control-input[type="checkbox"]:checked:focus + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="checkbox"]:focus + .control-mark:after {
  display: block;
}

.control-input[type="checkbox"]:focus + .control-mark {
  border: 2px solid #CCCCCC;
}


.control-input[type="radio"] + .control-mark {
  border-radius: 0.5;
  border: 2px solid #CCCCCC;
}

.control-mark::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #000000;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  display: none;
}


.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  display: block;
}

.control-input[type="radio"]:checked + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="radio"]:checked:focus + .control-mark:after {
  display: block;
}

.control-input[type="radio"]:checked:focus + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="radio"]:checked:focus + .control-mark:before {
  display: block;
}



.control-input[type="radio"]:focus + .control-mark:after {
  display: block;
}

.control-input[type="radio"]:focus + .control-mark {
  border: 2px solid #CCCCCC;
}

.product-filter-group-bluetooth {
  margin-bottom: 40px;
}

.button-filter {
  margin: 0 auto;
  padding: 10px 5px;
  width: 220px;
  height: 40px;
  box-sizing: border-box;
  background-color: transparent;
  background: linear-gradient(to top,
      transparent 40%, #FFE17F 40% 60%, transparent 60%);
}

.button-filter:hover {
  background-color: #FFE17F;
}

.button-filter:active {
  background: #FFC700;
}

.button-filter:focus {
  background-color: transparent;
  background: linear-gradient(to top,
      transparent 40%, #FFE17F 40% 60%, transparent 60%);
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.product-card-button {
  font-size: 16px;
  line-height: 19px;
}

/*Block sorting*/

.sorting {
  display: flex;
  flex-direction: column;
  width: 840px;
  min-height: 1380px;
}

.sorting-select {
  padding: 0 40px;
  width: 840px;
  min-height: 70px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.sorting-title {
  margin-right: 206px;
  font-size: 16px;
  line-height: 18.7px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.select {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 142px;
  margin-right: auto;
}

.text-select {
  /*width: 100%;*/
  padding-right: 30px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  /*background-image: url("../images/tick-sorting.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 10px 7px;*/
  border: none;
  background: transparent;
  appearance: none;
}

.select::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-image: url("../images/tick-sorting.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.select:hover {
  opacity: 0.6;
}

.select:active {
  opacity: 0.3;
}

.text-select:focus {
  opacity: 1;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button-sort {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #F0F0F0;
  border: none;
}

.button-sort-up svg,
.button-sort-down svg {
  fill: #000000;
  opacity: 20%;
}

.button-sort-up:focus,
.button-sort-down:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button-sort-up:hover svg,
.button-sort-down:hover svg {
  fill: #000000;
  opacity: 50%;
}

.button-sort-up:active svg,
.button-sort-down:active svg {
  fill: #000000;
  opacity: 100%;
}


/*product-list*/

.white {
  background-color: #FFFFFF;
}

.product-list {
  margin: 0;
  margin-bottom: 44px;
  padding: 70px 40px 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 44px;
  width: 840px;
  box-sizing: border-box;
  list-style-type: none;
  background-color: #FFFFFF;
}

.product-card-link {
  position: relative;
  display: block;
  text-decoration: none;
}

.product-card-image-wrapper {
  position: relative;
}

.product-card {
  width: 360px;
  min-height: 452px;
}

.product-card-image {
  width: 360px;
  height: 380px;
  margin-bottom: 23px;
}

.product-card-image-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  background-color: #F0F0F0;
  opacity: 80%;
  display: none;
}

.text-product-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-card-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -2%;
  color: #000000;
}

.product-card-price {
  display: block;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #444444;
  margin-bottom: 0;
}

.card-button {
  position: absolute;
  top: 170px;
  left: 70px;
  padding: 10px 5px;
  box-sizing: border-box;
  width: 220px;
  height: 40px;
  background: linear-gradient(to top,
      transparent 40%, #FFE17F 40% 60%, transparent 60%);
  z-index: 2;
  display: none;
}

.new {
  position: absolute;
  top: 27px;
  right: 27px;
  padding: 19px 10px 20px 10px;
  width: 60px;
  height: 60px;
  font-size: 14px;
  line-height: 16px;
  box-sizing: border-box;
  border-radius: 50%;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.6);
}

.product-card {
  position: relative;
}

.product-card-link::before {
  content: "";
  position: absolute;
  width: 364px;
  height: 460px;
  top: -2px;
  left: -2px;
  outline: 2px solid #af4fff;
  display: none;
}


.product-card:focus-within .product-card-link::before {
  display: block;
}

.product-card-link:focus .card-button {
  display: none;
}

.product-card-link:focus .product-card-image-wrapper:after {
  display: none;
}


.product-card:hover .product-card-image-wrapper::after {
  display: block;
}

.product-card:hover .product-card-title {
  opacity: 0.6;
}

.product-card-link:hover .card-button {
  display: block;
}

.product-card:active .text-product-wrapper {
  opacity: 0.3;
}

.product-card:active .product-card-image-wrapper::after {
  display: block;
}

.product-card-link:active .card-button {
  background: linear-gradient(to top,
      transparent 40%, #FFc700 40% 60%, transparent 60%);
}


/*Загрузить еще*/

.download-button {
  margin: 0 auto;
  margin-bottom: 44px;
  width: 760px;
  min-height: 55px;
  line-height: 40px;
  font-size: 16px;
  background-color: #FFFFFF;
  border: 3px solid #E5E5E5;
}


.download-button:hover {
  border-color: #000000;
}

.download-button:active {
  color: #000000;
  border-color: #000000;
  opacity: 30%;
}

.download-button:focus {
  color: #000000;
  border: 3px solid #E5E5E5;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.download-button:disabled {
  color: #000000;
  border: 3px solid #E5E5E5;
  opacity: 30%;
}


/*pagination*/

.pagination {
  width: 760px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #EBEBEB;
  margin-bottom: 78px;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.pagination-item:first-child {
  margin-right: auto;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-next,
.pagination-prev {
  display: block;
  padding: 25px;
}

.pagination-disabled {
  color: #444444;
  opacity: 0.3;
}

.pagination-next,
.pagination-prev {
  background-color: #EBEBEB;
  color: black;
}

.pagination-link {
  display: block;
  padding: 15.5px auto;
  margin: auto 0;
  width: 40px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
  cursor: pointer;
}



.pagination-next:hover,
.pagination-prev:hover {
  background-color: #DCDCDC;
  color: #000000;
}

.pagination-next:active span,
.pagination-prev:active span {
  opacity: 0.3;
}

.pagination-next:focus,
.pagination-prev:focus {
  background-color: #F0F0F0;
  color: #000000;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}


.pagination-link:hover {
  opacity: 1;
}

.pagination-link:active {
  opacity: 0.1;
}

.pagination-link:focus {
  opacity: 0.3;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-current {
  color: #444444;
  opacity: 0.6;
}



.pagination-item:hover .two {
  color: rgba(0, 0, 0 0.3);

}





/*
.select-control {
  color: #000000;
}*/
